<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body style="margin: 0; padding: 0; font-family: 'Roboto Light',sans-serif">
    {% block head %}
        <div style="background-color: #FFC107;">
        <div style="display: flex; justify-content: flex-end; width: 80%; margin: auto;">
            <ul style="list-style-type: none; display: flex; gap: 20px;">
                <li><a style="text-decoration: none; color:black; font-weight: bold;" href="{{ path('app_login')}}">Connexion</a></li>
                <li><a style="text-decoration: none; color:black; font-weight: bold;" href="{{ path('app_register') }}">Inscription</a></li>
            </ul>
        </div>
        </div>
    {% endblock %}
        {% block body %}

        {% endblock %}
    </body>
</html>
